apiVersion: apps/v1
kind: Deployment
metadata:
  name: emailsender
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: emailsender
  template:
    metadata:
      labels:
        app: emailsender
    spec:
      containers:
        - name: emailsender
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 9091
