apiVersion: apps/v1
kind: Deployment
metadata:
  name: emailsender
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: emailsender
  template:
    metadata:
      labels:
        app: emailsender
    spec:
      containers:
        - name: emailsender
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 9091
          volumeMounts:
            - name: h2-data
              mountPath: /data
      volumes:
        - name: h2-data
          persistentVolumeClaim:
            claimName: emailsender-h2-pvc