spring:
  application:
    name: EmailSender

  mail:
    host: smtp.gmail.com
    port: 587
    username: abdufattoxovshaxzod0404@gmail.com
    password: dttg nyfb dmge uxit
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8

  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
      probes:
        enabled: true
  prometheus:
    metrics:
      export:
        enabled: true




