spring:
  application:
    name: EmailSender
  spring:
    datasource:
      url: jdbc:h2:file:/data/agriculture_app
      driver-class-name: org.h2.Driver
      username: sa
      password: ""

    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
      hibernate:
        ddl-auto: update
      show-sql: true

    h2:
      console:
        enabled: true
        path: /h2-console

  mail:
    host: smtp.gmail.com
    port: 587
    username: abdufattoxovshaxzod0404@gmail.com
    password: dttg nyfb dmge uxit
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8

  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
      probes:
        enabled: true
  prometheus:
    metrics:
      export:
        enabled: true




