replicaCount: 2

app:
  name: emailsender
  namespace: default

image:
  repository: shakhzodjon/emailsender
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9091

serviceMonitor:
  enabled: true
  path: /actuator/prometheus
  interval: 30s
  scrapeTimeout: 10s
