name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build
        run: mvn clean package -DskipTests

      - name: Build Docker Image
        run: docker build -t emailsender:${{ github.sha }} .

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Image
        run: |
          docker tag emailsender:${{ github.sha }} shakhzodjon/emailsender:${{ github.sha }}
          docker push shakhzodjon/emailsender:${{ github.sha }}
