name: Build Helm Chart

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Package Helm Chart
        run: helm package my-app

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: chart
          path: "*.tgz"
